{ "messages": [{"role":"user", "content":"{{question}}"}, {"role":"assistant", "content":"<tool_call>{\"name\":\"{{function[0].name}}\", \"arguments\": {{call|tojson|tool_call_args}} }</tool_call>" }]  {% if all_functions -%}, "function_descriptions": [{% for func in all_functions -%}{"description":"{{func.description}}","name":"{{func.name}}","parameters":{"additionalProperties":false,"properties":{{func.parameters.properties|deserialize|tojson}},"required":{{func.parameters.required|tojson}},"type":"object"},"strict":true,"type":"function"}{%- endfor %}]{%- endif %} }