{ "conversation": [{"speaker":"human", "message":"{{question}}"}, {"speaker":"assistant", "action":"function-call", "details":{"name":"{{function[0].name}}", "arguments": {{call|tojson}} } }]  {% if all_functions -%}, "function_descriptions": [{% for func in all_functions -%}{"description":"{{func.description}}","name":"{{func.name}}","parameters":{"additionalProperties":false,"properties":{{func.parameters.properties|deserialize|tojson}},"required":{{func.parameters.required|tojson}},"type":"object"},"strict":true,"type":"function"}{%- endfor %}]{%- endif %} }