{ "conversation": [{"speaker":"human", "message":"{{question}}"}, {"speaker":"assistant", "action":"function-call", "details":{"name":"{{function[0].name}}", "arguments": {{call|jstr}} } }]  , "function_descriptions": {{all_functions|tojson}} }