name: Build Rust PyO3 Package and Run Python Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache Rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Check Rust formatting
        run: cargo fmt --all -- --check

      - name: Run Clippy linter
        run: cargo clippy --no-default-features -- -D warnings -A clippy::upper_case_acronyms

      - name: Run cargo check
        run: cargo check --no-default-features

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Set up uv environment
        working-directory:  ./tweaktune-python
        run: |
          uv venv ../.venv
          source ../.venv/bin/activate
          uv pip install maturin pytest
          maturin develop --release --uv --extras "dev,db,arrow"

      - name: Check Python formatting with Black
        run: |
          source .venv/bin/activate
          black --check tweaktune-python/

      - name: Check Python imports with isort
        run: |
          source .venv/bin/activate
          isort --check-only tweaktune-python/

      - name: Lint Python with Ruff
        run: |
          source .venv/bin/activate
          ruff check tweaktune-python/

      - name: Type check Python with mypy
        run: |
          source .venv/bin/activate
          mypy tweaktune-python/tweaktune --ignore-missing-imports

      - name: Run Python tests with coverage
        run: |
          source .venv/bin/activate
          pytest --cov=tweaktune --cov-report=xml --cov-report=term


