name: Build and Publish Python Package

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', '**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Check Rust formatting
        run: cargo fmt --all -- --check

      - name: Run Clippy linter
        run: cargo clippy --release --no-default-features -- -D warnings -A clippy::upper_case_acronyms

      - name: Run Rust tests
        run: cargo test --release --no-default-features

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"

      - name: Set up uv environment
        working-directory:  ./tweaktune-python
        run: |
          uv venv ../.venv
          source ../.venv/bin/activate
          uv pip install maturin twine pytest
          maturin develop --release --uv --extras "dev,db,arrow"

      - name: Check Python code quality
        run: |
          source .venv/bin/activate
          black --check tweaktune-python/
          ruff check tweaktune-python/

      - name: Run Python tests
        run: |
          source .venv/bin/activate
          pytest

      - name: Build Python package
        working-directory:  ./tweaktune-python
        run: |
          source ../.venv/bin/activate
          maturin build --release --compatibility manylinux2014  --skip-auditwheel

      - name: Publish to PyPI
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          source .venv/bin/activate
          twine upload  --repository pypi ./target/wheels/*